.head {
  background: darkcyan;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 0.1rem;
  border-radius: 20px;
}
.div1 {
  margin-top: 0.5rem;
  background: lightgreen;
  text-align: center;
}
.name {
  padding: 50px;
  padding-top: 70px;
}
.pass {
  padding: 40px;
  padding-top: 30px;
}
.lab1,
.lab2 {
  margin-top: 50px;
  font-size: 25px;
  margin-right: 10px;
  font-weight: 300;
}
.sub,
.reset {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  background: violet;
  color: white;
  font-size: large;
  padding-inline: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.name1,
.pass1 {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid pink;
  border-radius: 5px;
  background: black;
  font-size: 20px;
  color: white;
  font-style: normal;
}
